{% extends 'base.html' %}

{% block body %}
<div class="add_buttons">

    <div class="button-group">
        <a href="{% url 'appprincipal:historico_2016' %}" class="btn btn-primary btn-md btn-trim" role="button"> Janeiro</a>
        <a href="{% url 'appprincipal:historico_2016_2' %}" class="btn btn-primary btn-md btn-trim" role="button"> Fevereiro</a>
        <a href="{% url 'appprincipal:historico_2016_3' %}" class="btn btn-primary btn-md btn-trim" role="button"> Março</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Abril</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Maio</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Junho</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Julho</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Agosto</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Setembro</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Outubro</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Novembro</a>
        <a href="#" class="btn btn-primary btn-md btn-trim" role="button"> Dezembro</a>
    </div>

</div>


<div>

    <h4>Currently Viewing {{ header }}</h4>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Sigla</th>
            <th>Num. Voo</th>
            <th>Status</th>
            <th>Tipo de Linha</th>
            <th>Data de saída</th>
            <th>Origem</th>
            <th>Destino</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for item in item %}

        <tr>
            <td>{{ item.pk }}
            <td>{{ item.sigla }}</td>
            <td>{{ item.numVoo }}</td>
            <td>{{ item.situacao }}</td>
            <td>{{ item.tipoLinha }}</td>
            <td>{{ item.data_real }}</td>
            <td>{{ item.origem }}</td>
            <td>{{ item.destino }}</td>

        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}